.our-believes {
    padding: 120px 0;

    h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 44px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.03em;
        color: #404040;
        margin-bottom: 40px;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .believe {
        &:hover {
            background: #39614e;

            * {
                color: #eeeeef;
            }

            .subtitle {
                display: block;
            }
        }

        cursor: pointer;
        width: 295px;
        height: 295px;
        border: 1px solid #39614e;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        padding: 40px;
        transition: 0.3s all ease;
        margin-top: -1px;
        margin-left: -1px;

        img {
            margin-bottom: 20px;
        }

        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            text-align: center;
            letter-spacing: -0.03em;
            color: #404040;
            margin-bottom: 10px;
        }

        .subtitle {
            font-family: "Inter";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            letter-spacing: -0.03em;
            color: #eeeeef;
            display: none;
        }
    }

    .caption {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.03em;
        color: #404040;
    }
}
